Pillow
atari-py
pyprind
ipdb
boto3
PyOpenGL
nose2
pyzmq
msgpack-python
mujoco_py
cached_property
line_profiler
Cython
git+https://github.com/Theano/Theano.git@adfe319ce6b781083d8dc3200fb4481b00853791#egg=Theano
git+https://github.com/neocxi/Lasagne.git@484866cf8b38d878e92d521be445968531646bb8#egg=Lasagne
plotly
awscli
git+https://github.com/openai/gym.git
pyglet
git+https://github.com/neocxi/prettytensor.git
jupyter
progressbar2
chainer
path
mako